/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./styles/home.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
.home_container__SMAk1 {
  max-width: 1080px;
  margin: auto;
}

.home_title__1hzQa {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.home_text__XkE7k {
  color: #777;
}

.home_btn__YeUcI {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

